streamlit==1.35.0
groq==0.8.0
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.3
langchain-groq==0.1.4
streamlit-ace==0.1.1
python-dotenv
bcrypt
pandas
PyPDF2==3.0.1
docx
exceptions
